@font-face {
    font-family: monteserrat_regular;
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: monteserrat_extra_bold;
    src: url('fonts/Montserrat-ExtraBold.otf');
}
@font-face {
    font-family: monteserrat_light;
    src: url('fonts/Montserrat-Light.otf');
}
@font-face {
    font-family: monteserrat_semibold;
    src: url('fonts/Montserrat-SemiBold.otf');
}
